.custom-dash {
  border-image: repeating-linear-gradient(
      to right,
      #fcad34 0,
      #fcad34 10px,
      /* panjang garis berwarna */ transparent 10px,
      transparent 20px /* jarak antar garis */
    )
    1;
}

/* Hilangkan scrollbar di seluruh halaman */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}
